[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = git@github.com:fmtlib/fmt.git
	branch = 6.0.0

[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = git@github.com:Tencent/rapidjson.git
[submodule "thirdparty/yaml"]
	path = thirdparty/yaml
	url = git@github.com:jbeder/yaml-cpp.git
	branch = yaml-cpp-0.6.2
